.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* .App-header {
  background-color: #2bb577;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(14, 13, 13);
}  */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #ca8025;
  padding: .5em;
  min-height: 2em;
  font-family: ‘Arial’; 
  box-shadow: 0 1px 8px #ddd;
}
.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 1em;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clinic-test {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clinic-card {
  border: 2px solid black;
  width: 60vw;
  text-align: left;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

#clinicTitle {
  font-size: 1em;
  font-weight: bold;
}

.readReviewsBTN{
  background-color:  #aaab9d;
}