

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Nunito+Sans&family=Poiret+One&family=Rock+Salt&family=Space+Mono&display=swap');


html {
  font-family: 'Nunito Sans', sans-serif; 
  text-align: center;
  background-image: url("https://c.neh.tw/thumb/f/720/3747bf9411fa40f19d03.jpg"), url("https://c.neh.tw/thumb/f/720/3747bf9411fa40f19d03.jpg");
  /* background-repeat: repeat-x; */
  /* background-position: bottom; */
  background-position: right bottom, left bottom;
  background-repeat: no-repeat;
    /* position:fixed; */
    /* top:0;
    bottom:0;
    left:0;
    right:0; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #2989f7;
  padding: .5em;
  min-height: 3em;
  box-shadow: 0 1px 8px #ddd;
}

.navHome {
  float: left;
}

.navLinks {
  float: right;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 2em;
}

.navbar a:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 1em;
  border-bottom: 3px solid rgb(232, 235, 23);
}

.navbar a.active {
  border-bottom: 3px solid rgb(232, 235, 23);
}


.App-link {
  color: #61dafb;
}


.clinic-test {
  /* padding: 2em 4em; */
  display: grid;
  grid-template-columns: repeat(2, 20vw);
  grid-gap: 2vw;
  cursor: pointer;
  text-align: center;
  /* gap: .5em; */
  justify-content: center;
}

.clinic-card {
  width: 24vw;
  height: 10vw;
  text-align: center;
  padding-top: 2vw;
  padding-left: .5vw;
  padding-right: .5vw;
  padding-bottom: .5vw;
  margin-bottom: 2vh;
  /* display: flex;
  flex-direction: column;
  text-align: center; */
  box-shadow: 0 1px 6px rgba(1, 1, 1, 0.5), 0 1px 4px rgba(0, 0, 0, 0.24);
  background-color: #fefefe;
  /* justify-content: center; */
  border-left: 3px solid rgb(235, 23, 235);

}

/* .park-list {
  padding: 2em 4em;
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  grid-gap: 5vw;
  cursor: pointer;
  text-align: center;
} */

/* 
.clinicValues {
  margin: 0;
} */

.homeTitle {
  margin-bottom: 4vh;
  margin-top: 4vh;
  color: 
}

.borough-test {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.borough {
  width: 24vw;
  height: 5vw;
  text-align: center;
  padding-top: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  background-color: #fefefe;
  box-shadow: 0 1px 6px rgba(1, 1, 1, 0.5), 0 1px 4px rgba(0, 0, 0, 0.24);
  /* background-color: #ffffff; */
  justify-content: center;
  border-left: 3px solid rgb(232, 235, 23);

}

.borough:hover {

}


#clinicTitle {
  font-size: 1em;
  font-weight: bold;
}

.input-div {
  display: flex;
  flex-direction: column;
}

img {
  width: 20px;
  height: 28px;


}

/* .editAndDeleteIcons {
  display: flex;
  border:rgba(0, 0, 0, 0.24)
  /* object-position: right top;} */


/* .editAndDeleteIcons a:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 1em;
  border-bottom: 3px solid rgb(232, 235, 23);
} */ 
.editAndDeleteIcons {
  cursor: pointer;

}
